# Vivado compiler log files
*.log
*.jou
*.pb
*.str
*.backup.jou
*.backup.log

# Vivado project directories
.Xil/
*.xpr
*.data/
*.runs/
*.srcs/
*.sim/
*.ip_user_files/
*.hw/
*.cache/
*.ioplanning/

# Simulation directory targets
xsim.dir/
webtalk*
xsc*
xvlog*
xelab*
xsim*
hdl_netlist*
